{% extends 'base.html.twig' %}
{% block body %}
    <h2 class="page-header" style="margin-top:20px; margin-bottom:20px;">{{ page }}</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <div class="clearfix">
        <a href="/" class="btn btn-primary float-right" style="margin-bottom: 20px;">Cancel</a>
    </div>
{% endblock %}